[Unit]
Description=Io Resto A Casa Jitsi metrics exporter

[Service]
Type=simple
ExecStart=/usr/bin/python /var/www/iorestoacasa_metrics.py
RestartSec=60
Restart=always
KillSignal=SIGTERM
StandardError=syslog
NotifyAccess=all
SendSIGKILL=no

[Install]
WantedBy=multi-user.target

